@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .section::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background: #8070d4;
        border: 6px solid rgba(0, 0, 0, 0.2);
      }
}